body {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pointWrap {
  background: aliceblue;
	border-radius: 2px;
	box-shadow: 0 0 5px 0 ;
	display: flex;
  /* justify-content: space-around; */
  padding: 15px;
  margin: 5px;
}

.column {
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background: #b5e7e2;
}

  .column span {
    text-align: center;
    color: red;
  }

.gameTable {
	background: aliceblue;
	border-radius: 2px;
	box-shadow: 0 0 5px 0 ;
	display: flex;

}

.cell {
  padding: 3px;
  margin: 5px;
  background: #84ff8e;
  display: flex;
}

.cell:hover {
  box-shadow: 0 0 2px;
}

.cell img {
  width: 35px;
  height: 35px;
}

.hidden {
  opacity: 0;
  transition: all;
}

.setings {
  display: flex;
  flex-direction: column;
  width: 110px;
  border-radius: 6px;
  padding: 6px;
  background: #dde;
}

.setings * {
  margin: 6px;
  padding: 7px;
}
