body {
  background: url(http://news.mit.edu/sites/mit.edu.newsoffice/files/images/2016/MIT-WorkingMemory_0.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameTable {
	background: aliceblue;
	border-radius: 2px;
	box-shadow: 0 0 5px 0 ;
	display: flex;

}

.cell {
  padding: 3px;
  margin: 5px;
  background: #84ff8e;
  display: flex;
}

.cell img {
  width: 35px;
  height: 35px;
}

.hidden {
  opacity: 0;
  transition: all;
}

.setings {
  display: flex;
  flex-direction: column;
  width: 110px;
  border-radius: 6px;
  padding: 6px;
  background: #dde;
}

.setings * {
  margin: 6px;
  padding: 7px;
}
